.selector{
    background: #f7f7f7;
    color: black;
    font-weight: 900;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    
}

.selector:hover{
    background: #3960a5;
    color:white
}